*{
    margin: 0;
        padding: 0;
        text-align: center;
        background-color: lightgrey;
    font-family: sans-serif;
}

h1{
    line-height: 4.5rem;
    background-color: rgb(5, 46, 95);
    color: #fff;
}

.choice_container{
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin-top: 5rem;
}

.choice {
    height: 10rem;
        width: 10rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: gray;
}

img {
    height: 9rem;
    width: 9rem;
    object-fit: cover;
    border-radius: 50%;
}

.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 1.5rem;
    margin-top: 6rem;
}

.msg_container{
    margin-top: 5rem;
}

#msg{
    background-color: #081b31;
        color: #fff;
        font-size: 1.5rem;
        display: inline;
        padding: 1rem;
        border-radius: 1rem;
}

.footer_container{
    margin-top: 6rem;
}

.footer_container span:nth-of-type(1){
    font-size: large;
    font-weight: bold;
    color: rgb(5, 46, 95);
}

.footer_container span:nth-of-type(2){
    font-size: x-large;
        font-weight: bold;
color: rgb(193, 0, 0);
}